
<div class="row scroll text-center">
  <div class="savedate col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <%= cl_image_tag("https://res.cloudinary.com/dnhdzmowt/image/upload/v1584103736/templett_1_nhrs4w.png") %>
  </div>
  <div class="savedate col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

    <%= cl_image_tag("https://res.cloudinary.com/dnhdzmowt/image/upload/v1584103736/templett_2_tr4jrt.png") %>

  </div>
  <div class="savedate col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

    <%= link_to "https://www.paypal.com/pools/c/8nglNf5kYV" do  %>
    <%= cl_image_tag("https://res.cloudinary.com/dnhdzmowt/image/upload/v1584099481/giulia1_s2hy9t.png") %>
    <% end %>
  </div>
</div>

